@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AboutsUs>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}



 <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid container">
            <div class="row m04m">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav">
                        <span class="bars">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                        <span class="btn-text">Открыть меню</span>
                    </button>
                </div>

                 <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Главная</a></li>
                        <li class="active ">
                            <a href="/aboutus" >О нас</a>
                        </li>
                        <li>
                            <a  href="/project" >Проекты</a>
                        </li>
                        <li>
                            <a  href="/service" >Услуги</a></li>
                        <li>
                            <a  href="/news" >Новости</a>
                        </li>
                        <li>
                            <a  href="/contact" >Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav> <!--Main Nav-->
    
    <section id="pageCover" class="row aboutUs">
         <img src="/images/cover.jpg" alt="" class="pageCover">
        <div class="row pageTitle">О библиотеке</div>
        <div class="row pageBreadcrumbs">
            <ol class="breadcrumb">
              <li><a asp-action="Index" asp-controller="Home">главная</a></li>
              <li class="active">о библиотеке</li>
            </ol>
        </div>
    </section>
    
    <section id="aboutus" class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="row aboutContent">
                        <div class="row aboutUsTexts m0 member">
                            <div class="fleft textsPart">
                                <h2>@Model.Value("headerTitle")</h2>
                                <p>@Model.Value("headerText")</p>
                            </div>
                            <div class="fleft aboutImg">
                                <img src="@(Model.HeaderImage.MediaUrl())" alt="">
                            </div>
                        </div>
                        <div class="row m0 members">
                        @{
                            var workersImages = Model.WorkerImages.ToList();
                            var workersNames = Model.WorkerNames.Split(';').ToList();
                            var workersSpec = Model.WorkerSpec.Split(';').ToList();
                        }
                        @for (int i = 0; i < Model.WorkerImages.Count(); i++)
                        {
                            <div class="col-sm-4 member3_1 member">
                                <div class="row m0">
                                    <div class="row m0 memImg">
                                        <img src="@(workersImages[i].MediaUrl())" alt="">
                                    </div>
                                    <div class="row m0 memberIntro">
                                        <div class="row m0 name">@(workersNames[i])</div>
                                        <div class="row m0 pro">@(workersSpec[i])</div>
                                       
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                    <div class="row partnersSlide">
                        <h2>Нормативные документы</h2>
                        <div class="owl-carousel partnerSlider">
                        @{
                            var docsTitles = Model.DocsTitles.Split(';').ToList();
                            var docsLinks = Model.DocsLinks.Split(';').ToList();
                        }
                        @for (int i = 0; i < docsTitles.Count(); i++)
                        {
                            <div class="item"><h3>@(docsTitles[i])</h3><br/><a download href="@(docsLinks[i])"><img src="~/images/docs/doc1.png" alt=""></a></div>
                        }         
                        </div>
                    </div>
                </div>
               @await Umbraco.RenderMacroAsync("Aside")
            </div>            
        </div>
    </section>