@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MainView>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
	Layout = "Master.cshtml";
}


<nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid container">
            <div class="row m04m">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav">
                        <span class="bars">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                        <span class="btn-text">Открыть меню</span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="nav navbar-nav">
                        <li class="active "><a href="/">Главная</a></li>
                        <li>
                            <a href="/aboutus" >О нас</a>
                        </li>
                        <li>
                            <a  href="/project" >Проекты</a>
                        </li>
                        <li>
                            <a  href="/service" >Услуги</a></li>
                        <li>
                            <a  href="/news" >Новости</a>
                        </li>
                        <li >
                            <a  href="/contact" >Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav> <!--Main Nav-->


<section id="nr_slider" class="row">
        <div class="mainSliderContainer">
            <div class="mainSlider">
                <ul>
                @{
                    var imagesSlider = Model.ImagesSlider.ToList();
                    var titlesSlider = Model.HeadersSlider.Split(';').ToList();
                    var texts = Model.TextsSlider.ToString().Split(';').ToList();
                }
                     <!--SLIDE 1  -->
                    <li data-transition="boxslide" data-slotamount="7">
                       <img src="@(imagesSlider[0].MediaUrl())" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                       <div class="caption sfr str" data-x="center" data-y="140" data-speed="700" data-start="1700" data-easing="easeOutBack">
                            <h2>@(titlesSlider[0])</h2>
                       </div>
                       <div class="caption sfl stl" data-x="center" data-y="225" data-speed="500" data-start="1900" data-easing="easeOutBack">
                            <div class="cont-row">@(texts[0])</div>       
                       </div>
                       <div class="caption sfb stb" data-x="center" data-y="375" data-hoffset="0" data-speed="500" data-start="1900" data-easing="easeOutBack">
                           <a href="/aboutus" type="button" class="btn btn-default">Подробнее</a>
                       </div>                      
                    </li>  
                     <!--SLIDE 2 -->
                    <li data-transition="boxslide" data-slotamount="7">
                       <img src="@(imagesSlider[1].MediaUrl())" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                       <div class="caption sfr str" data-x="center" data-y="140" data-speed="700" data-start="1700" data-easing="easeOutBack">
                            <h2>@(titlesSlider[1])</h2>
                       </div>

                       <div class="caption sfl stl" data-x="center" data-y="225" data-speed="500" data-start="1900" data-easing="easeOutBack">
                            <div class="cont-row">@(texts[1])</div>
                       </div>
                       
                       <div class="caption skewfromright skewtoright" data-x="right" data-y="130" data-hoffset="176" data-speed="500" data-start="1900" data-easing="easeOutBack"><div class="tools"><img src="~/images/sliders/man.png" alt="brifcase"></div>
                       </div>                      
                    </li>  
                     <!--SLIDE 3 -->
                    <li data-transition="boxslide" data-slotamount="7">
                       <img src="@(imagesSlider[2].MediaUrl())" alt="slidebg1" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                       
                       <div class="caption sfr str" data-x="-100" data-y="140" data-speed="700" data-start="1700" data-easing="easeOutBack">
                            <h2>@(titlesSlider[2])</h2>
                       </div>
                       <div class="caption sfl stl" data-x="-100" data-y="225" data-speed="500" data-start="1900" data-easing="easeOutBack">
                            <div class="cont-row">@Model.Value("lastSliderText")</div>
                       </div>
                       <div class="caption skewfromright skewtoright" data-x="right" data-y="130" data-hoffset="176" data-speed="500" data-start="1900" data-easing="easeOutBack"><div class="sketch"><img src="~/images/sliders/man.png" alt="brifcase"></div>
                       </div>                       
                    </li>                          
                </ul>
            </div>
        </div>
        
        <div class="container sliderAfterTriangle"></div> <!--Triangle After Slider-->
    </section> <!--Slider-->
    
    <section id="nr_services" class="row">
        <div class="container">
            <div class="row sectionTitles">
                <h2 class="sectionTitle">Наши услуги</h2>
                <div class="sectionSubTitle">в библиотеке</div>
            </div>
            <div class="row m0 text-center">
            @{
                var ServiceTitles = Model.ServiceTitles.Split(';').ToList();
            }
                <div class="col-sm-3">
                    <div class="row m0 service">
                        <div class="row m0 innerRow">
                            <i class="fa fa-laptop"></i>
                            <div class="serviceName" data-hover="@(ServiceTitles[0])">@(ServiceTitles[0])</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row m0 service">
                        <div class="row m0 innerRow">
                            <i class="fa fa-film"></i>
                            <div class="serviceName" data-hover="@(ServiceTitles[1])">@(ServiceTitles[1])</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row m0 service">
                        <div class="row m0 innerRow">
                            <i class="fa fa-clock-o"></i>
                            <div class="serviceName" data-hover="@(ServiceTitles[2])">@(ServiceTitles[2])</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="row m0 service">
                        <div class="row m0 innerRow">
                            <i class="fa fa-building-o"></i>
                            <div class="serviceName" data-hover="@(ServiceTitles[3])">@(ServiceTitles[3])</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--Services-->
    
    <section id="projectsRow" class="row fullWidth">
        <div class="row sectionTitles m0">
            <h2 class="sectionTitle">Наши проекты</h2>
            <div class="sectionSubTitle">актуальные</div>
        </div>
        <div class="row filtersRow m0">
            <button type="button" class="collapsed project_filderButton visible-xs" data-toggle="collapse" data-target="#filters">
                <span class="btn-text"><i class="fa fa-filter"></i> Сортировка</span>
            </button>
            <ul class="list-inline text-center collapse navbar-collapse filters" id="filters">
                <li class="active" data-filter="*"><i class="fa fa-th"></i>Все</li>
                <li data-filter=".Events">Мероприятия</li>
                <li data-filter=".Contests">Конкурсы</li>
                <li data-filter=".Stock">Акции</li>
                <li data-filter=".Exhibitions">Выставки</li>
                <li data-filter=".Holidays">Праздники</li>
                <li data-filter=".Other">Другое</li>
            </ul>
        </div>
        <div class="row projects m0" id="container">
            @{
                var typesProject = Model.TypeProjects.Split(';').ToList();
                var imagesProject = Model.Images.ToList();
                var titlesProject = Model.TitleProjects.Split(';').ToList();
                var statusesProject = Model.StatusProjects.Split(';').ToList();
            }
            @for (int i = 0; i < Model.Images.Count(); i++)
            {
            <div class="project @(typesProject[i])">

                <a href="@(imagesProject[i].MediaUrl())" data-lightbox="project" data-title="@(titlesProject[i]) @(statusesProject[i])">
                    <img src="@(imagesProject[i].MediaUrl())" alt="Project 1" class="projectImg">
                </a>

                <div class="projectDetails row m0">

                    <div class="fleft nameType">
                        <div class="row m0 projectName">@(titlesProject[i])</div>
                        <div class="row m0 projectType">@(statusesProject[i])</div>
                    </div>

                    <div class="fright projectIcons btn-group" role="group">
                        <a href="@(imagesProject[i].MediaUrl())" data-lightbox="project" data-title="@(titlesProject[i]) @(statusesProject[i])" class="btn btn-default"><i class="fa fa-search"></i></a>
                        <a href="#" class="btn btn-default"><i class="fa fa-file-o"></i></a>
                    </div>

                </div>
            </div>
            }  
        </div>        
    </section> <!--Projects-->
    
    <section id="latestPosts" class="row">
        <div class="container">
            <div class="row sectionTitles">
                <h2 class="sectionTitle">Новости</h2>
                <div class="sectionSubTitle">по актуальности</div>
            </div>
            <!--News 1-->
            <div class="row">
                <div class="col-sm-4 blog latest-blog">
                    <div class="row m0 blogInner">
                        <div class="row m0 blogDateTime">
                            <i class="fa fa-calendar"></i> 31 августа 2022
                        </div>
                        <div class="row m0 featureImg">
                            <a href="single-post.html">
                                <img src="~/images/news/new1.jpg" alt="Подготавливается новый проект" class="img-responsive">
                            </a>
                        </div>
                        <div class="row m0 postExcerpts">
                            <div class="row m0 postExcerptInner">
                                <a href="single-post.html" class="postTitle row m0"><h4>«Литературная среда»</h4></a>
                                <p> Светлана Михайловна Печенина — ведущий библиотекарь Зала универсальных фондов Центральной публичной библиотеки —
предлагает вам цикл небольших видеороликов «Светлана Печенина: Монологи о книгах». Она будет говорить с нами о книгах, но так как у современного человека мало свободного времени, это будут совсем небольшие видеомонологи.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News 2-->
                <div class="col-sm-4 blog latest-blog">
                    <div class="row m0 blogInner">
                        <div class="row m0 blogDateTime">
                            <i class="fa fa-calendar"></i> 31 августа 2022
                        </div>
                        <div class="row m0 featureImg">
                            <a href="single-post.html">
                                <img src="~/images/news/new2.jpg" alt="Подготавливается новый проект" class="img-responsive">
                            </a>
                        </div>
                        <div class="row m0 postExcerpts">
                            <div class="row m0 postExcerptInner">
                                <a href="single-post.html" class="postTitle row m0"><h4>Нескучалия</h4></a>
                                <p>Природный материал – это кладовая для фантазии и игры воображения. Работа с ним сближает ребенка с родной природой, воспитывает бережное и заботливое отношение к ней и формирует первые трудовые навыки.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--News 3-->
                <div class="col-sm-4 blog latest-blog">
                    <div class="row m0 blogInner">
                        <div class="row m0 blogDateTime">
                            <i class="fa fa-calendar"></i> 31 августа 2022
                        </div>
                        <div class="row m0 featureImg">
                            <a href="single-post.html">
                                <img src="~/images/news/new3.jpg" alt="Мой город. Мой край. Моя Родина." class="img-responsive">
                            </a>
                        </div>
                        <div class="row m0 postExcerpts">
                            <div class="row m0 postExcerptInner">
                                <a href="single-post.html" class="postTitle row m0"><h4>Подготавливается новый проект строительства</h4></a>
                                <p>История Новоуральска тесно связана с историей Великой Отечественной войны. Известно, что в феврале 1941 года на территорию будущего города прибыли первые строители для возведения завода легких сплавов № 484, а уже летом эти же рабочие уходили на фронт. Завод так и не успел выпустить первую продукцию, и на его площадях появился эвакуированный завод № 261 по выпуску шасси и других деталей для самолетов ЛИ-2, ЯК-6, ЯК-7. 
                                   </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!--Latest Blog-->
    
    <section id="testimonials" class="row">
        <div class="container">
            <div class="row sectionTitles">
                <h2 class="sectionTitle whiteTC">Последние комментарии</h2>
                <div class="sectionSubTitle whiteTC">интересные</div>
            </div>
            <div class="row">
                <div class="owl-carousel testimonialSlider row m0">
                @{
                    var testImages = Model.TestimonialImages.ToList();
                    var testNames = Model.TestimonialNames.Split(';').ToList();
                    var testTexts = Model.TestimonialTexts.Split(';').ToList();
                }
                @for(int i = 0; i < Model.TestimonialImages.Count(); i++)
                {
                     <div class="item">
                        <div class="clientPhoto row m0">
                            <img src="@(testImages[i].MediaUrl())" alt="">
                        </div>
                        <div class="clientNameTitle row m0">@(testNames[i])</div>
                        <div class="arrow row m0">
                            <img src="~/images/testimonial/arrow.png">
                        </div>
                        <div class="testimonial row m0">@(testTexts[i])</div>
                    </div>
                }
                </div>
            </div>
        </div>
    </section> <!--Testimonials-->