@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Project>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "Master.cshtml";
}

<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid container">
        <div class="row m04m">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_nav">
                    <span class="bars">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                    <span class="btn-text">Открыть меню</span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="main_nav">
                <ul class="nav navbar-nav">
                    <li><a href="/">Главная</a></li>
                    <li>
                        <a href="/aboutus" >О нас</a>
                    </li>
                    <li class="active ">
                        <a  href="/project" >Проекты</a>
                    </li>
                    <li>
                        <a  href="/service" >Услуги</a></li>
                    <li>
                        <a  href="/news" >Новости</a>
                    </li>
                    <li >
                        <a  href="/contact" >Контакты</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav> <!--Main Nav-->

<section id="pageCover" class="row projectPage">
     <img src="/images/cover.jpg" alt="" class="pageCover">
    <div class="row pageTitle">Наши проекты
    </div>
    <div class="row pageBreadcrumbs">
        <ol class="breadcrumb">
            <li><a href="/">главная</a></li>
            <li class="active">проекты</li>
        </ol>
    </div>
</section>
<div>
    <section id="projectsRow" class="row fullWidth">
        <div class="row sectionTitles m0">
            <h2 class="sectionTitle">Наши проекты</h2>
            <div class="sectionSubTitle">актуальные</div>
        </div>
        <div class="row filtersRow m0">
            <button type="button" class="collapsed project_filderButton visible-xs" data-toggle="collapse" data-target="#filters">
                <span class="btn-text"><i class="fa fa-filter"></i> Сортировка</span>
            </button>
            <ul class="list-inline text-center collapse navbar-collapse filters" id="filters">
                <li class="active" data-filter="*"><i class="fa fa-th"></i>Все</li>
                <li data-filter=".Events">Мероприятия</li>
                <li data-filter=".Contests">Конкурсы</li>
                <li data-filter=".Stock">Акции</li>
                <li data-filter=".Exhibitions">Выставки</li>
                <li data-filter=".Holidays">Праздники</li>
                <li data-filter=".Other">Другое</li>
            </ul>
        </div>
        <div class="row projects m0" id="container">
            @{
                var types = Model.TypeProjects.Split(';').ToList();
                var images = Model.Images.ToList();
                var titles = Model.TitleProjects.Split(';').ToList();
                var statuses = Model.StatusProjects.Split(';').ToList();
            }
            @for (int i = 0; i < Model.Images.Count(); i++)
            {
            <div class="project @(types[i])">

                <a href="@(images[i].MediaUrl())" data-lightbox="project" data-title="@(titles[i]) @(statuses[i])">
                    <img src="@(images[i].MediaUrl())" alt="Project 1" class="projectImg">
                </a>

                <div class="projectDetails row m0">

                    <div class="fleft nameType">
                        <div class="row m0 projectName">@(titles[i])</div>
                        <div class="row m0 projectType">@(statuses[i])</div>
                    </div>

                    <div class="fright projectIcons btn-group" role="group">
                        <a href="@(images[i].MediaUrl())" data-lightbox="project" data-title="@(titles[i]) @(statuses[i])" class="btn btn-default"><i class="fa fa-search"></i></a>
                        <a href="#" class="btn btn-default"><i class="fa fa-file-o"></i></a>
                    </div>

                </div>
            </div>
            }    
        </div>        
    </section> <!--Projects-->
</div>

<div class="row sectionTitles" style="margin-top: 50px;">
    <h2 class="sectionTitle">Галерея</h2>
    <div class="sectionSubTitle">новое</div>
 </div>


<div class="row galleriesSlide">
    <div class="owl-carousel gallerySlider">
        @foreach (var item in Model.ImagesGallery)
        {
            <div class="item"><img src="@(item.MediaUrl())" alt=""></div>
        }
    </div>
</div> <!--Gallery-->


